// Override this file to add your own SCSS styling.

// add custom home page background pic
// #about {
  // background: url(../img/background-01.png);
  // background-size:cover;
// }

// change about header to green
#about h1 {
  color: #4d8680;
}

// change color of icons 
#about a {
  color: #000000;
}

// change color of brand font
.navbar-light .navbar-brand {
  color: #4d8680;
  font-family: cooper-black-std, serif;
  font-weight: 400;
  font-style: normal;
}

//change color of brand hover
.navbar-light .navbar-brand:hover, .navbar-light .navbar-brand:focus {
color: #000000;
}

.navbar {
font-family: cooper-black-std, serif;
  font-weight: 200;
  font-style: normal;
}

#navbar-main .main-menu-item ul li .nav-link {
  color: #000000; 
}

h1 {
  font-family: cooper-black-std, serif;
  font-weight: 400;
  font-style: normal;
}

h2 {
  font-family: cooper-black-std, serif;
  font-weight: 400;
  font-style: normal;
}

h3 {
  font-family: cooper-black-std, serif;
  font-weight: 400;
  font-style: normal;
}


// style main photo on home page with drop shadow, animation
.avatar-circle {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    filter: grayscale(100%);
    transition: all 0.5s ease;
}

.avatar-circle:hover {
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    filter: grayscale(0%);
  }
  
.wg-hero.dark .hero-title {
color: #000000;
margin-top: 15%;
}

.wg-hero.dark .btn {
color: #000000;
box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
margin-top: 50px;
}

.wg-hero.dark .hero-title, .wg-hero.dark .hero-lead, .wg-hero.dark .hero-cta-alt, .wg-hero.dark .hero-note>* {
font-size: 50px;
font-family: cooper-black-std, serif;
  font-weight: 400;
  font-style: normal;
}


.navbar .navbar-nav .nav-link.active {
color: #4d8680 !important;
}

//.navbar {
// background-color: #f7f0e7;
// }

// style the nav bar elements
.navbar-brand img {
    max-height: 26px;
    float: left;
    padding-right: 10px;
}

.article {
   display: flex;
 }
 .article .item,
 .article .price {
   flex: 1 0 auto;
 }
 .article .dots {
   flex: 0 1 auto;
   /*Allows too long content to be hidden.*/
   overflow: hidden;
 }
 .dots::before {
   display: block;
   white-space: nowrap;
   overflow: hidden;
   text-overflow: clip;
   content: 
     ". . . . . . . . . . . . . . . . . . . . "
     ". . . . . . . . . . . . . . . . . . . . "
     ". . . . . . . . . . . . . . . . . . . . "
     ". . . . . . . . . . . . . . . . . . . . "
 }
 
.home-section {
padding-bottom: 20px;
}